.style {
	text-align-last: center;
	text-align: -webkit-center;
	margin-top: 10px;
}

.title{
	color: black;
	font-size: 30px;
	font-weight: bold;
}

.marginTen{
	margin-top: 10px;
}

.button{
	margin-top: 10px;
	background-color: #d1d5da;
}